<h2><%= resource_name_to_title(resource_name) %>ログイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html:{class:"form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label :email, class:"control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true, id:"inputEmail", placeholder:"Email" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class:"control-label" %>
    <div class="controls">
      <%= f.password_field :password, :autofocus => true, id:"inputPassword", placeholder:"Password" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </label>
      <%= f.submit "Sign in", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
